<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884190002974-0chhacrtl0tve3mb41aplv1reell7c0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884190002974-0chhacrtl0tve3mb41aplv1reell7c0o</string>
	<key>API_KEY</key>
	<string>AIzaSyA7VYYNvr-X3XISRkNwtBSMahaUrrQmWAE</string>
	<key>GCM_SENDER_ID</key>
	<string>884190002974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lucasbighi.Appzineo</string>
	<key>PROJECT_ID</key>
	<string>appzineo</string>
	<key>STORAGE_BUCKET</key>
	<string>appzineo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884190002974:ios:6fc682cf756ed66108130f</string>
</dict>
</plist>